cached/
data/
dataset/
logs/
outputs/
build/
__pycache__
.vscode/

cache/
figs/
finetunes/
checkpoint/
data_temp/
wandb/
results/
tree-sitter/
parser/
!code_bleu/parser/
code_bleu/parser/*.so
tempfiles/
tempfiles_*/

tailor_outputs/
log/

*.pkl
*.out
*.ipynb
*.sh
